# crewai_tools
# sentence-transformers
# # Core Backend
# fastapi==0.109.1
# uvicorn==0.27.0

# crewai==0.28.8
# langchain==0.1.11
# langchain-google-genai==0.0.11  
# google-generativeai==0.3.2      

# chromadb==0.4.22
# sentence-transformers==2.3.1     

# PyPDF2==3.0.1                    
# beautifulsoup4==4.12.3           


# python-dotenv==1.0.0
# requests==2.31.0
# sentence-transformers

fastapi==0.111.1 
uvicorn==0.30.6 
crewai==0.28.8 
crewai-tools==0.59.0 
langchain==0.1.11 
langchain-google-genai==0.0.11 
google-generativeai==0.4.1 
sentence-transformers==2.3.1 
transformers==4.44.2 
chromadb==0.4.22 
PyPDF2==3.0.1 
beautifulsoup4==4.12.3 
requests==2.31.0 
python-dotenv==1.0.0
