fastapi
uvicorn
crewai==0.28.9
crewai-tools==0.1.8
langchain
langchain-google-genai
google-generativeai
sentence-transformers
transformers
chromadb
PyPDF2
beautifulsoup4
requests
python-dotenv
pydantic





